/* film cover */

.film-cover {
  position: relative;
  padding-top: 32.653%;  /* 320/980*100 = .. aspect ratio */
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 2em;
  @include transition ( all 1.5s ease-in-out );

  @include media($tablet) {
    margin-bottom: 0;
    @include transition ( all 1.5s ease-in-out );
  }
}

.film-cover--everyday-life {
  background-image: url($film-cover-everyday-life);
}

.film-cover--harlem {
  background-image: url($film-cover-harlem);
}

.film-cover--represent {
  background-image: url($film-cover-represent);
}

.film-cover--when-i-was-boy {
  background-image: url($film-cover-when-i-was-boy);
}

.film-cover__title {
  font-family   : $header-font-family;  font-size     : 3.125em;  font-weight   : 700;
  line-height   : 1em;
  margin        : 0;
  text-rendering: optimizeLegibility;
  color: #fff;
  @include transition ( all 1.5s ease-in-out );

@include media($tablet) {
  font-size     : 3.125em;
  @include transition ( all 1.5s ease-in-out );
}

  @include media($mobile) {
    font-size     : 1em;
    @include transition ( all 1.5s ease-in-out );
  }
}

.film-cover__sub-title {
  font-family   : $header-font-family;  font-size     : em(30);  font-weight   : 300;
  color: #fff;
  margin        : 0;
  text-rendering: optimizeLegibility;
  line-height   : 1em;
  @include transition ( all 1.5s ease-in-out );

  @include media($tablet) {
    font-size     : em(22);
    @include transition ( all 1.5s ease-in-out );
  }

  @include media($mobile) {
    font-size     : 1em;
    //animation
    @include transition ( all 1.5s ease-in-out );
  }

}

.film-cover__separator{
  width: em(66);
  height: em(30);
  margin-bottom: em(30);
  border-bottom: 1px solid $orange;

  @include media($tablet) {
    height: em(15);
    margin-bottom: em(15);
  }
  @include media($mobile) {
    height: em(4);
    margin-bottom: em(4);
  }

}

.film-cover__group-content{
  position: absolute;
  left: 1em;
  bottom: 2em;

  @include media($mobile) {
    bottom: 0.5em;
  }
}
