// home page

.hp-news{
  height: em(550);
}

.wp-hp-news{
  position: relative;
  height: 100%;
  @include transition ( all 1s ease-in-out );
}

#wp-hp-news__txt-content{
  height: 100%;
}

.wp-hp-news__content-wrapper{
  display: table;
  padding-top: 10%;
  padding-left:10%;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
  display: block;
}

.wp-hp-news__content-wrapper::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.4;
  @include transition (opacity 0.4s $ease-in-out-quad);
  background: #000;
}

.wp-hp-news__section-name{
  padding-left:-10%;
  font-family: $font-roboto-condensed;
  font-weight: 700;
  // line-height: 1em;
  font-size:em(32);
  color: #fff;
}

.wp-hp-news__what {
  margin-top: em(170);
  font-family: $font-roboto-condensed;
  font-weight: 100;
  font-style: italic;
  // letter-spacing: 2px;
  font-size:em(24);
  color: #f14d21;
}

.wp-hp-news__title{
  font-family: $font-roboto-condensed;
  font-weight: 700;
  line-height: 1em;
  font-size:em(44);
  color: #fff;
  margin-top: em(3);
}

.wp-hp-news__desc {
  font-family: $font-roboto;
  font-weight: 100;
  color:#fff;
}

/*  */

.wp-hp-badge{
  position: relative;
  height: 100%;
  background: url('../../img/home/ted-cover.jpg') center center/cover no-repeat;
  @include transition ( all 1s ease-in-out );
}

.wp-hp-badge__content-wrapper{
  display: table;
  width:100%;
  padding-top: 70%;
  padding-left:10%;
  //
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
  display: block;
}

.wp-hp-badge__content-wrapper::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.4;
  @include transition (opacity 0.4s $ease-in-out-quad);
  background: #000;
}

.wp-hp-badge__what {
  font-family: $font-roboto-condensed;
  font-weight: 100;
  font-style: italic;
  // letter-spacing: 2px;
  font-size:em(24);
  color: #f14d21;
}

.wp-hp-badge__title{
  font-family: $font-roboto-condensed;
  font-weight: 700;
  line-height: 1em;
  // letter-spacing: 2px;
  font-size:em(44);
  color: #fff;
  margin-top: em(3);
}
