/* layout */

/* header */

.l__header{

  .p-top {
      margin-top:em(50);
  }

}

/* body */

body{
  margin: 0;
}

.l__content {
  @include outer-container;

  .row {
    @include row();
  }

  div.element-1 {
    @include span-columns(6);
  }

  div.element-1-2 {

    @include span-columns(3);

    @include media($mobile) {
      @include span-columns(6);
    }
  }

  div.element-1-3 {

    @include span-columns(2);

    @include media($mobile) {
      @include span-columns(2);
    }
  }

}

/* footer */

.l__footer{
  background-color: #ededed;
}
