/* block grid */

.menu {
  padding-top: em(40);
  @include outer-container;
  font-family: $menu-font-family;
  font-size: em(24);
  font-weight: 300;
}
.menu:after{
    padding-bottom: em(15);
}

.menu__item{
  float: left;
  margin-right:1.125em;
}

.menu__item--current{
  color: $orange;
}
