/* block grid */

.menu {
  position: relative;
  padding-top: em(40);
  @include outer-container;
  font-family: $menu-font-family;
  font-size: em(20);
  font-weight: 300;

  @include media($mobile) {
    padding-top: em(16);
    font-size: em(20);
  }

  a {
    color: $main-nav-a-color;
  }

  a:hover{
    color: $orange;
    text-decoration: none;
  }
}
.menu:after{
    padding-bottom: em(15);
}

.menu__item,
.menu-item {
  float: left;
  margin-right:1.125em;
  text-transform: uppercase;

  @include media($mobile) {
    margin-right:0.55em;
  }

}

.menu__item--current,
.current-menu-item > a {
  color: $orange;
}

.sub-menu {
  display:none;
}

#menu-item-134:hover .sub-menu{
  background: red;
  display: block;
}

.sub-menu {
  // display:none;
  background: green;
  position:absolute;
  left: 0px;
  width:100%;

  .menu-item{
    width: 25%;
    margin-right:0em;
  }

  .menu-item a {
    font-family: $menu-font-family;
    font-size: rem(12);
  }
}
