/* typograhy */

a {
  color: $orange;
}

a:hover {}

h1 {
  //line-height: 1em;
  margin: 1em 0em 0em 0em;
  line-height: 1.5em;

  @include media($mobile) {
    font-size: em(30);
  }
}

h2 {

  padding: 0.4em 0em 1em;
  line-height: 1em;

  @include media($mobile) {
    font-size: em(20);
    line-height: em(18);
    padding-bottom: 1em;
  }
}

h4 {
  font-size: em(30);
  font-weight: 700;
  font-family: $font-roboto;
  color: #ccc;
  margin-top: 1em;

  @include media($mobile) {
    line-height: em(16);
    padding-bottom: em(16);
  }
}

p {
  font-size: em(20);
  line-height: em(26);
  font-weight: 300;
  font-font-family: $font-roboto;
  color: #666;

  @include media($mobile) {
    font-size: em(16);
    margin: 0 0 0.25em 0;
  }
}

ul li {
  font-size: em(20);
  font-weight: 300;
  font-font-family: $font-roboto;
  color: #666;

  @include media($mobile) {
    font-size: em(16);
<<<<<<< Updated upstream
=======
    margin: 0 0 0.25em 0;
>>>>>>> Stashed changes
  }
}
